name: npm audit

on:
    workflow_dispatch:
    schedule:
        - cron: "00 00 * * *"
    pull_request:
        branches:
            - main

jobs:
    scan:
        name: npm audit
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2.3.4
            - name: install dependencies
              run: npm ci
            - uses: oke-py/npm-audit-action@v1.6.0
              with:
                  github_token: ${{ secrets.ACCESS_TOKEN }}
                  issue_assignees: tomxpcvx
                  issue_labels: vulnerability
